# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea
.vscode
*.iws
*.iml
*.ipr
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Other
*.log
*.tmp
*.swp

